# Archivos temporales y caché del sistema
/tmp/
*.log

# Archivos específicos de entorno (IDEs)
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
Thumbs.db
.DS_Store

# Archivos de respaldo de editores
*~
*.bak

# base de datos
produccion_clinica_uchuya.sql

# Archivo zip
clinica_dental_uchuya.zip